    /*reseteo*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 

    /*variables menu-links*/
$widht-menu: 350px;
$color-menu: #fff;
$border-menu: solid black;
$border-radius-menu: 5px;
$background-repeat-menu: round;
$background-size-menu: cover;
$text-align-menu: center;

    /*estilos menu-links*/
.menu {
    display: flex;
    flex-direction: row;
    justify-content:center;
    div {
        height: 100px;
        color: $color-menu;
        width: $widht-menu;
        border: $border-menu;
        border-radius: $border-radius-menu;
        background-repeat: $background-repeat-menu;
        background-size: $background-size-menu;
        text-align: $text-align-menu;
        a {
            color: $color-menu !important;
        }
        
    }

}
.naturales {
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.a6QWNbvzEHrLENZFLSnPyAHaE8&pid=Api);
}    
.clasicos {
    background-image: url(https://tse3.mm.bing.net/th?id=OIP.bWWpfz3s6nNiTVCTU411igHaFj&pid=Api);
}
.culturales {
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.eARvDHHkF2Sps627K8vzlwAAAA&pid=Api);
}

    /*animación menu-links*/
.naturales:hover {
    border: solid black;
    border-radius: 15px;
}
.clasicos:hover {
    @extend .naturales:hover;
}
.culturales:hover {
    @extend .naturales:hover;
}  
a :hover {
  color: black;
  text-decoration: underline black;
}   