
* {
    margin: 5px;
    padding: 5px;

    box-sizing: border-box;
    
}
main {
    padding: 30px;
    margin: 15px;
}
ul {
    background-color:rgb(61, 158, 61);
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    border: solid rgb(226, 36, 68)
}    
li {    
    padding: 5px;
    list-style-type: none;
}
a {
    color:black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
p span { 
    color: rgb(255, 0, 0);
}
/*para destacar y dividir secciones*/
.titulos {
    padding: 10px;
    color: rgb(245, 11, 11);
    background-color:rgb(242, 184, 205);
    text-align: center;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 20px;
    border: solid 5px black;
}
/*para bloques con la foto a la izquierda*/
.contenido-izq {
    margin: auto;
    padding-left: 55px;
    color: rgb(0, 134, 11);
    background-color: rgb(107, 225, 64);
    font-style:italic;
    font-size: 20px;
    text-align:left;
    border-radius: 10px;
    border: solid rgb(226, 36, 68);
}
/*para bloques con la foto a la derecha*/
.contenido-der {
    margin: auto;
    padding-right: 55px;
    color: rgb(0, 134, 11);
    background-color: rgb(107, 225, 64);
    font-style:normal;
    font-size: 20px;
    text-align: right;  
    border-radius: 10px; 
    border: solid rgb(226, 36, 68);  
}
/*para centrar items*/
#centrar {
    padding: 5px;
    margin: 5px;
    color:black;
    background-color:rgb(61, 158, 61);
    text-align:center;
    border: solid rgb(226, 36, 68);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 20px;
}
/*para los th de tablas*/
.encabezados {
    color: black;
    text-decoration:underline;
}
/*para usar grid en mas-visitados*/
.catalogo {
    background-color:rgb(255, 204, 0);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px 300px;
    text-align: center;
    border: solid 3px rgb(222, 55, 83);
    border-radius: 10px;

}
.catalogo div {
    padding: 15px;
    margin: 5px; 
    border: solid 3px rgb(222, 55, 83);
}
.cat-1 {
    max-width: 100%; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: unset;
    font-size: 25px;
    text-align:top;
    text-decoration: underline;
    background-image: url(http://www.telam.com.ar/advf/imagenes/2019/01/5c40ba62c3f18_1004x565.jpg);
    background-size: contain;
    background-repeat: round;
}
.cat-2 {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: unset;
    font-size: 25px;
    text-align:top;
    text-decoration: underline;
    background-image: url(https://turismo.buenosaires.gob.ar/sites/turismo/files/casa_rosada_1200_fachada_sol.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 70%;
    
}
.cat-3 {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: unset;
    font-size: 25px;
    text-align:top;
    text-decoration: underline;
    background-image: url(https://www.quever.travel/wp-content/uploads/2020/01/Puerto-Madero-dique-aerea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.cat-4 {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: unset;
    font-size: 25px;
    text-align:top;
    text-decoration: underline;
    background-image: url(https://tse4.mm.bing.net/th?id=OIP.1YOAzpR3psD18newYkfafAHaE8&pid=Api);
    background-size: contain;
    background-repeat: round;
}
.cat-5 {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: unset;
    font-size: 25px;
    text-align:top;
    text-decoration: underline;
    background-image: url(https://tse4.mm.bing.net/th?id=OIP.yKyZEv0V6rrQ-L16T9EDiQHaHa&pid=Api);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.cat-6 {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: unset;
    font-size: 25px;
    text-align:top;
    text-decoration: underline;
    background-image: url(https://laverdadnoticias.com/__export/1526436442068/sites/laverdad/img/2018/05/15/encuentran_cadxver_en_el_estadio_monumental_de_river_plate_crop1526435207785.jpg_673822677.jpg);
    background-size: cover;
    background-repeat: round;
}
.cat-7 {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: unset;
    font-size: 25px;
    text-align:top;
    text-decoration: underline;
    background-image: url(https://images.pexels.com/photos/1060803/pexels-photo-1060803.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-size: cover;
}
.cat-8 {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: unset;
    font-size: 25px;
    text-align:top;
    text-decoration: underline;
    background-image: url(https://tse3.mm.bing.net/th?id=OIP.ZoV5WcSj5I7vrLV3WEKwdAAAAA&pid=Api);
    background-repeat: round;
    background-size: cover;
    background-size: 70%;
}
.cat-9 {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: unset;
    font-size: 25px;
    text-align:top;
    text-decoration: underline;
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.mlCCpka9LOkWFiEoqskn1QHaE1&pid=Api);
    background-repeat: round;
    background-size: contain;
}
/*para catalogo de inicio*/
.catalogo-2 {
    background-color:rgb(255, 204, 0);
    display: grid;
    grid-template-columns:auto;
    grid-template-rows:repeat(3, 1fr);
    text-align: center;
    border: solid 3px rgb(222, 55, 83);
    border-radius: 10px;
}
/* para galeria */
.catalogo-2 div {
    padding: 15px;
    margin: 5px; 
    border: solid 3px rgb(222, 55, 83);
}

.contarea {
    display: grid;
    background-color: rgb(107, 225, 64);
    border: solid 3px rgb(222, 55, 83);
    grid-template-areas: 
    "area1 area2"
    "area3 area4";

}

.contarea div {
    padding: 5px;
    margin: 10px;
    text-align: center;

}

.area1 {
    grid-area: area1;
    text-decoration: underline;   
    font-size: 25px;
}
.area2 {
    grid-area: area2;
    font-size: 20px;
}
.area3 {
    grid-area: area3;
}
.area4 {
    grid-area: area4;
}   

@media screen and (max-width: 768px)  {
    main {
        padding: 5px;
        margin: auto;
        
    }
    ul {
        display: flex;
        flex-flow: column-reverse;
    }    
    .cat-1 {
        background-size:auto;
    }
    .cat-4 {
        background-size:cover;
    }
    .cat-9 {
        background-size:auto;
    }
    .video-responsive {
        position: relative;
        padding-bottom: 56.25%; /* 16/9 ratio */
        padding-top: 30px; /* IE6 workaround*/
        height: 0;
        overflow: hidden;
    }
        
    .video-responsive iframe,
    .video-responsive object,
    .video-responsive embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .contarea {
        height: 60vh;
        min-height: 350px;
        padding: 24px;
        display: block;
        image-orientation: from-image;
        align-content: center;
    }
    textarea {
        padding: 5px;
        margin: auto;
        width: 100%;
    }
    .catalogo-2 {
        display: block;
    }
    .img-responsive {
       display: none;
    }
    .mapa-responsive {
        position: relative;
        padding-bottom: 75%; 
        height: 0;
        overflow: hidden;
    }
    .mapa-responsive iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }    
    .catalogo {
        margin: 0;
        display: block;
        text-align: center;

        font-size: 1.5em;
        align-self:center;
    }
    .catalogo div {
        display: block;
        
        align-items: center;
        text-align: center;
        background-size: cover;
        max-width: 100%;
    }
    
}
@media screen and (max-width: 425px) {
    
    .main {
        margin: 5px;
        padding: 5px;
    }

    nav {
        font-size: 1.5em;
        display: block;
        margin: 24px 0;
    }
    .contarea {
        display: block;
    }

    .catalogo div {
        display: block;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-size: cover;
        max-width: 100%;
    }
    div img {
        display: none;
    }
    
    form {
        margin: 0px;
    }
    .tabla-responsive {
        display: none;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }     
} 